:root {
    --fg-color: #c89b3c;
    --fg-highlight: #f0e6d2;
    --bg-color: #0d121c;
    --bg-lighter: #1a2a40;
    --bg-secondary: #3c4352;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-highlight);
    padding: 20px;
}

header {
    display: flex;
}

img {
    width: 48px;
    height: 48px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: var(--fg-color);
}

h2 {
    margin: 0.5rem 0;
    text-transform: uppercase;
    color: var(--fg-color);
}

h3 {
    margin: 0;
}

@media (min-width: 1100px) {
    h1 {
        font-size: 4rem;
        margin: 1rem 0;
    }
}